@import 'styles/variables';

.tenant_h1 {
  color: $color-red;
  text-transform: capitalize;
  line-height: 140px;
  font-size: 125px;
  font-weight: 900;
}

.items_wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-gap: 1rem;

  .img_container {
    min-height: 100px;
    position: relative;
    padding: 1rem;
  }

  .img_container::before, image {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}






@media screen and (max-width: 650px) {
  .tenants {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tenant_h1{
    font-size: 65px;
    line-height: 65px;
  }

  .items_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
  }
  

}